@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  letter-spacing: .0625rem
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
body ::selection {
  color: #fff;
  background-color: #fed107
}
body::-webkit-scrollbar {
  width: .75rem
}
body::-webkit-scrollbar-track {
  background: linear-gradient(-90deg,#151630 0,#323374 100%)
}
body::-webkit-scrollbar-thumb {
  background: #fed107;
  border-radius: .625rem;
  border: .125rem solid #252655
}
body::-webkit-scrollbar-thumb:hover {
  background: #cfab0b;
  background: #e0bb14;
  border: .125rem solid #fff
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,68.75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  font-weight: 700;
  line-height: normal;
  letter-spacing: .01875rem;
  text-align: center;
  padding: 1.125rem 2.5rem;
  border: .125rem solid transparent;
  border-radius: .5rem;
  color: #31385f;
  transition: all .4s
}
.button:hover {
  background: rgba(0,0,0,0)
}
.button--yellow {
  background: #fed107;
  box-shadow: 0 0 .9375rem rgba(254,209,7,.5);
  text-shadow: 0 0 .9375rem rgba(254,209,7,.7)
}
.button--yellow:hover {
  color: #fed107;
  border: .125rem solid #fed107
}
.button--white {
  background: #fff;
  box-shadow: 0 0 .9375rem rgba(255,255,255,.4);
  text-shadow: 0 0 .9375rem rgba(255,255,255,.6)
}
.button--white:hover {
  color: #fff;
  border: .125rem solid #fff
}
.button--border {
  color: #31385f;
  background: rgba(0,0,0,0);
  border: .125rem solid #31385f
}
.button--border:hover {
  color: #6150c2;
  background: rgba(0,0,0,0);
  border: .125rem solid #6150c2
}
.button--fw {
  width: 100%
}
.read-more {
  position: relative;
  width: 12rem;
  height: auto
}
.read-more:hover .read-more__circle {
  width: 100%
}
.read-more:hover .read-more__arrow {
  background: #fff;
  -webkit-transform: translate(1rem,0);
  transform: translate(1rem,0)
}
.read-more:hover .read-more__text {
  color: #fff
}
.read-more__circle {
  transition: all .45s cubic-bezier(.65,0,.076,1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #31385f;
  border-radius: 1.625rem
}
.read-more__icon {
  transition: all .45s cubic-bezier(.65,0,.076,1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff
}
.read-more__arrow {
  transition: all .45s cubic-bezier(.65,0,.076,1);
  left: .625rem;
  width: 1.125rem;
  height: .125rem;
  background: 0 0
}
.read-more__arrow::before {
  content: "";
  position: absolute;
  top: -.29rem;
  right: .0625rem;
  width: .625rem;
  height: .625rem;
  border-top: .125rem solid #fff;
  border-right: .125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.read-more__text {
  transition: all .45s cubic-bezier(.65,0,.076,1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center
}
.contact-us {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom,#54d1e4 0,#528ee4 100%);
  color: #fff;
  padding: .8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transition: all .3s
}
.contact-us:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0,0,0,.5)
}
.contact-us:hover .contact-us__wrapper {
  background-color: rgba(255,255,255,.5)
}
.contact-us:hover svg {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.contact-us:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  box-shadow: 0 2px 5px rgba(0,0,0,.2)
}
.contact-us span {
  display: block;
  margin-left: .4em;
  transition: all .3s
}
.contact-us svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  transition: all .3s
}
.contact-us__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
  margin-right: .5em;
  transition: all .3s
}
.scroll-to-top {
  position: fixed;
  z-index: 100;
  width: 3.125rem;
  height: 3.125rem;
  right: 3.75rem;
  bottom: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(254,209,7,.8);
  backdrop-filter: blur(.1875rem);
  border: .125rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1.25rem rgba(151,151,151,.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s,visibility .4s,background .4s,color .4s,border-color .4s
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible
}
.scroll-to-top:hover {
  color: #31385f;
  border-color: #31385f;
  background: #fed107
}
.scroll-to-top span {
  display: inline-block;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(-.1875rem);
    transform: translateY(-.1875rem)
  }
}
@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(-.1875rem);
    transform: translateY(-.1875rem)
  }
}
.menu-open .scroll-to-top {
  opacity: 0;
  visibility: hidden
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2.5rem .625rem;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s;
  background-color: #eee;
  color: #31385f;
  padding: 2.5rem;
  width: 100%;
  max-width: 900px;
  border-radius: 1.25rem
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  top: 1.5625rem;
  right: 1.25rem;
  color: #000;
  transition: all .2s
}
.popup__close:hover {
  color: red
}
.popup__close svg {
  width: 100%;
  height: 100%
}
.popup__title {
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: .09375rem;
  padding-right: 2.1875rem
}
.popup__text {
  line-height: 1.6;
  letter-spacing: .03125rem
}
.popup__text>p:not(:last-child) {
  margin-bottom: .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
._ibg {
  position: relative
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.logo {
  position: relative;
  max-width: 5.5rem;
  width: 100%;
  height: 6.25rem;
  z-index: 10;
  transition: all .6s
}
._header-scroll .logo {
  max-width: 3.875rem;
  height: 4.375rem
}
.logo:hover .logo__icon--white {
  opacity: 0;
  visibility: hidden
}
._header-scroll .logo:hover .logo__icon--white {
  opacity: 1;
  visibility: visible
}
.logo:hover .logo__icon--black {
  opacity: 1;
  visibility: visible
}
._header-scroll .logo:hover .logo__icon--black {
  opacity: 0;
  visibility: hidden
}
.logo__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .6s
}
._header-scroll .logo__icon--white {
  opacity: 0;
  visibility: hidden
}
.logo__icon--black {
  opacity: 0;
  visibility: hidden
}
._header-scroll .logo__icon--black {
  opacity: 1;
  visibility: visible
}
.title {
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: .09375rem;
  color: #31385f
}
.title--smaller {
  line-height: 1.3;
  color: #31385f
}
.title span {
  text-transform: uppercase;
  color: #fed107
}
.text {
  max-width: 46.875rem;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: .03125rem;
  color: #31385f
}
.text>p:not(:last-child) {
  margin-bottom: .9375rem
}
.warning {
  margin: 0 auto;
  text-align: center;
  display: block;
  color: #c01f1f;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2.5rem
}
.warning strong {
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: .1875rem
}
.warning img {
  margin-top: .25rem;
  width: 1.25rem
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
  align-items: center;
  padding-block: .625rem;
  transition: all .6s;
  position: relative
}
.header__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0);
  backdrop-filter: blur(.25rem);
  transition: all .6s
}
._header-scroll .header__container {
  max-width: 59.375rem;
  padding-block: .3125rem
}
._header-scroll .header__container::before {
  background: rgba(255,255,255,.8);
  box-shadow: 0 0 .625rem rgba(218,218,218,.7)
}
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .3125rem .9375rem
}
.menu__button {
  font-size: 1.125rem;
  padding: .4375rem .75rem;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  transition: all .5s;
  position: relative
}
.menu__button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  background: #fed107;
  transition: all .3s;
  border-radius: .625rem
}
.menu__button._navigator-active,
.menu__button.active,
.menu__button:hover {
  color: #31385f
}
.menu__button._navigator-active::after,
.menu__button.active::after,
.menu__button:hover::after {
  width: 100%;
  height: 100%;
  left: 0
}
._header-scroll .menu__button {
  color: #31385f
}
.menu__button span {
  position: relative;
  z-index: 3
}
.footer {
  position: relative
}
.footer__container {
  position: relative;
  z-index: 5;
  line-height: 1.5
}
.footer__main {
  padding-block: 4.375rem 3.125rem;
  border-bottom: .0625rem solid rgba(255,255,255,.6)
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-block: 3.125rem
}
.footer__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none
}
.footer__bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.75)
}
.main-footer {
  display: grid;
  align-items: end;
  gap: 1.875rem;
  grid-template-columns: repeat(2,auto)
}
.main-footer__logo {
  display: inline-block
}
.main-footer__logo:not(:last-child) {
  margin-bottom: 1.5625rem
}
.social-footer__label {
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 600
}
.social-footer__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.social-footer__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem
}
.social-footer__item {
  background: #fed107;
  padding: .5625rem;
  border-radius: .9375rem;
  border: .1875rem solid #fed107;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s
}
.social-footer__item img {
  width: 2.1875rem;
  height: 2.1875rem
}
.social-footer__item:hover {
  background: #cfab0b
}
.social-footer__item--telegram:hover {
  border: .1875rem solid #40b3e0
}
.social-footer__item--x {
  padding: .625rem
}
.social-footer__item--x img {
  width: 2.0625rem;
  height: 2.0625rem
}
.social-footer__item--x:hover {
  border: .1875rem solid #000
}
.social-footer__item--discord:hover {
  border: .1875rem solid #5865f2
}
.social-footer__item--youtube:hover {
  border: .1875rem solid #f03
}
.social-footer__item--twitch:hover {
  border: .1875rem solid #9146ff
}
.social-footer__item--instagram:hover {
  border: .1875rem solid #ce367c
}
.menu-footer__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.menu-footer__link {
  transition: all .2s
}
.menu-footer__link:hover {
  color: #fed107
}
.hero {
  min-height: 100svh;
  display: flex;
  align-items: center;
  position: relative
}
.hero__container {
  text-align: center
}
.hero__body {
  padding-block: 8.75rem;
  max-width: 45.625rem;
  position: relative;
  z-index: 5
}
.hero__image:not(:last-child) {
  margin-bottom: .625rem
}
.hero__image img {
  width: 100%
}
.hero__title {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: .03125rem
}
.hero__title span {
  color: #fed107
}
.hero__text {
  max-width: 37.5rem;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.6;
  color: #fff
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem
}
.hero__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none
}
.hero__bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7)
}
.history__container {
  max-width: 61.875rem
}
.history__header {
  color: #31385f;
  text-align: center;
  margin-bottom: 3.125rem
}
.history__slider {
  flex: 1 1 auto;
  min-width: 0;
  align-self: flex-end
}
.slider-history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative
}
.slider-history__controls {
  align-self: stretch
}
.slider-history__controls:not(:last-child) {
  margin-bottom: 1.25rem
}
.slider-history__slide {
  position: relative;
  backdrop-filter: blur(.625rem);
  transition: all .5s!important;
  -webkit-transform: scale(.9)!important;
  transform: scale(.9)!important;
  opacity: .3
}
.slider-history__slide::after {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 100%;
  top: 0;
  left: 100%
}
.slider-history__slide.swiper-slide-active {
  -webkit-transform: scale(1)!important;
  transform: scale(1)!important;
  opacity: 1
}
.slider-history__image {
  position: relative;
  padding-bottom: 60%
}
.slider-history__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slider-history__content {
  min-width: 18.4375rem;
  max-height: 18.75rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(.3125rem)
}
.slider-history__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  color: #354294
}
.slider-history__title:not(:last-child) {
  margin-bottom: .4375rem
}
.slider-history__text {
  font-weight: 500;
  line-height: 1.5;
  color: #31385f
}
.controls-slider-history {
  display: flex;
  align-items: center
}
.controls-slider-history__dotts {
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 1.875rem
}
.controls-slider-history__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%);
  left: 2.5%;
  z-index: 10;
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  pointer-events: none
}
.controls-slider-history__arrow {
  pointer-events: auto;
  border-radius: 50%;
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: #fed107;
  color: #fff;
  font-size: 1.5625rem;
  transition: all .4s;
  border: .1875rem solid #fff;
  position: relative
}
.controls-slider-history__arrow_next::before,
.controls-slider-history__arrow_prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem
}
.controls-slider-history__arrow_prev {
  margin-left: -.375rem
}
.controls-slider-history__arrow_prev::before {
  background: url(../img/history/arrow.svg) center no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.controls-slider-history__arrow_next {
  margin-right: -.375rem
}
.controls-slider-history__arrow_next::before {
  background: url(../img/history/arrow.svg) center/contain no-repeat;
  -webkit-transform: rotate(180deg) translate(50%,50%);
  transform: rotate(180deg) translate(50%,50%)
}
.controls-slider-history__arrow:hover {
  background-color: #cfab0b;
  color: #31385f
}
.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap
}
.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 1.5625rem;
  height: 1.5625rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .125rem 0
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: .75rem
}
.swiper-pagination-bullet::after {
  content: "";
  width: .6875rem;
  height: .6875rem;
  background-color: #d8d8d8;
  border-radius: 50%;
  transition: all .3s
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: .0625rem solid #fed107;
  transition: all .3s;
  -webkit-transform: scale(0);
  transform: scale(0)
}
.swiper-pagination-bullet:hover::after {
  background-color: #fed107
}
.swiper-pagination-bullet-active::after {
  background-color: #fed107
}
.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.projects {
  color: #31385f;
  background: rgba(215,208,255,.164)
}
.projects__title {
  text-align: center
}
.article-project {
  display: grid;
  align-items: center;
  row-gap: 2.5rem
}
.article-project--01 {
  grid-template-columns: 1.2fr .9fr
}
.article-project--02 {
  grid-template-columns: .9fr 1.2fr
}
.article-project__content {
  align-self: center
}
.article-project__image {
  border-radius: .9375rem
}
.article-project__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .7s
}
.article-project__image img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.growth {
  background: linear-gradient(360deg,#0a0b0f 0,#333b6f 100%)
}
.growth__container {
  max-width: 53.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem
}
.growth__container--reverse {
  flex-direction: row-reverse
}
.growth__body {
  flex: 0 0 40%
}
.growth__header {
  text-align: center
}
.growth__header:not(:last-child) {
  margin-bottom: 2.5rem
}
.growth__title {
  color: #fff
}
.growth__text {
  color: #fff
}
.growth__social {
  display: flex;
  gap: 2.5rem;
  justify-content: center
}
.growth__link {
  padding: .9375rem;
  border-radius: 1.25rem;
  background: #fed107;
  transition: all .25s
}
.growth__link:hover {
  background: #cfab0b;
  box-shadow: 0 0 1.25rem rgba(150,169,255,.5)
}
.growth__icon {
  width: 2.5rem;
  height: 2.5rem
}
.growth__video {
  overflow: hidden;
  width: 100%
}
.growth__video video {
  width: 100%;
  height: 100%
}
.team {
  background: rgba(215,208,255,.164)
}
.team__title {
  text-align: center
}
.team__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20.625rem,1fr));
  gap: 3.125rem 1.875rem
}
.item-team {
  position: relative
}
.item-team__image {
  width: 100%;
  height: 100%;
  overflow: hidden
}
.item-team__image img {
  aspect-ratio: 12/16;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .6s
}
.item-team__image img:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07)
}
.item-team__info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  background: rgba(129,65,247,.7);
  backdrop-filter: blur(.1875rem);
  padding: .9375rem
}
.item-team__about {
  line-height: 1.5
}
.item-team__name {
  position: relative;
  font-weight: 500
}
.item-team__role {
  font-size: 1rem
}
.item-team__socials {
  display: flex;
  gap: .625rem
}
.item-team__icon {
  width: 1.875rem;
  height: 1.875rem;
  transition: all .2s
}
.item-team__icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}
.faq__container {
  color: #31385f;
  max-width: 53.125rem
}
.faq__title {
  text-align: center
}
.faq__title:not(:last-child) {
  margin-bottom: 1.875rem
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
.spollers-faq {
  display: grid
}
.spollers-faq__item {
  transition: all .2s
}
.spollers-faq__item:not(:last-child) {
  border-bottom: .0625rem solid rgba(49,56,95,.5)
}
.spollers-faq__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  padding-block: 1.5625rem;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  transition: all .2s;
  position: relative
}
.spollers-faq__title::after {
  content: "";
  background: url(../img/faq/arrow.svg) 0/cover no-repeat;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  transition: all .4s
}
.spollers-faq__title:hover {
  color: #fed107
}
.spollers-faq__title._spoller-active {
  padding-block: 1.5625rem .625rem;
  color: #fed107;
  border-radius: .625rem .625rem 0 0
}
.spollers-faq__title._spoller-active::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spollers-faq__body {
  border-radius: 0 0 .625rem .625rem;
  padding: 0 2.5rem 1.5625rem 0;
  line-height: 1.6
}
.spollers-faq__body>p:not(:last-child) {
  margin-bottom: .9375rem
}
.join-us__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
  background: linear-gradient(360deg,#48528d 0,#232a47 100%);
  padding-block: 3.125rem;
  border-radius: 1.25rem
}
.join-us__title {
  color: #fff
}
.join-us__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.join-us__text {
  max-width: none;
  color: #fff
}
.join-us__button {
  white-space: nowrap
}
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block
}
.swiper-vertical>.swiper-wrapper {
  flex-direction: column
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-horizontal {
  touch-action: pan-y
}
.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  display: block
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform
}
.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}
.swiper-css-mode.swiper-horizontal>.swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory
}
.swiper-css-mode.swiper-vertical>.swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory
}
.swiper-css-mode.swiper-free-mode>.swiper-wrapper {
  -ms-scroll-snap-type: none;
  scroll-snap-type: none
}
.swiper-css-mode.swiper-free-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: none
}
.swiper-css-mode.swiper-centered>.swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999
}
.swiper-css-mode.swiper-centered>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always
}
.swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
  animation: swiper-preloader-spin 1s infinite linear
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}
@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@media (min-width:23.4375em) {
  .item-team__name {
    margin-bottom: .3125rem
  }
}
@media (min-width:29.99875em) {
  .hero__button {
    min-width: 15rem
  }
  .article-project__image {
    height: 28.125rem
  }
  .growth__video video {
    border-radius: .625rem
  }
}
@media (min-width:34.375em) {
  .main-footer__text {
    max-width: 25rem
  }
  .main-footer__social {
    justify-self: end
  }
  .social-footer {
    max-width: 15.625rem
  }
}
@media (min-width:47.99875em) {
  .header {
    padding-top: .9375rem
  }
  .header__container::before {
    border-radius: .625rem
  }
  ._header-scroll .menu__button {
    font-size: 1rem
  }
  .slider-history__content {
    position: absolute;
    max-width: 21.875rem;
    left: 2.5rem;
    bottom: 2.5rem;
    border-radius: .9375rem
  }
}
@media (min-width:70.625em) {
  body {
    font-size: 1.125rem
  }
  .popup__title {
    font-size: 2.125rem
  }
  .popup__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .title {
    font-size: 2.5rem
  }
  .title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .title--smaller {
    font-size: 2.25rem
  }
  .title--smaller:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .text:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .hero__title {
    font-size: 2.75rem
  }
  .hero__title {
    margin-bottom: 1.875rem
  }
  .hero__text {
    margin-bottom: 3.125rem
  }
  .history {
    padding-block: 5.625rem
  }
  .projects {
    padding-top: 5.625rem
  }
  .projects {
    padding-bottom: 6.25rem
  }
  .projects__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .article-project {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .article-project:not(:last-child) {
    margin-bottom: 8.75rem
  }
  .article-project__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .growth {
    padding-top: 5.625rem
  }
  .growth {
    padding-bottom: 6.25rem
  }
  .team {
    padding-top: 5.625rem
  }
  .team {
    padding-bottom: 6.25rem
  }
  .team__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .faq {
    padding-top: 5rem
  }
  .faq {
    padding-bottom: 3.75rem
  }
  .spollers-faq__title {
    font-size: 1.5rem
  }
  .spollers-faq__body {
    font-size: 1.125rem
  }
  .join-us {
    padding-top: 4.375rem
  }
  .join-us {
    padding-bottom: 6.25rem
  }
  .join-us__body {
    padding-inline: 3.125rem
  }
}
@media (min-width:62em) {
  .slider-history__body {
    width: 50rem
  }
  .slider-history__body {
    margin-right: 5rem
  }
  .slider-history__title {
    font-size: 1.5rem
  }
  .slider-history__text {
    font-size: 1.125rem
  }
}
@media (max-width:48em) {
  .slider-history__title {
    font-size: 1.375rem
  }
  .slider-history__text {
    font-size: 1rem
  }
  .article-project {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (max-width:20em) {
  body {
    font-size: 1rem
  }
  .popup__title {
    font-size: 1.625rem
  }
  .popup__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .title {
    font-size: 1.75rem
  }
  .title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .title--smaller {
    font-size: 1.625rem
  }
  .title--smaller:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__title {
    font-size: 1.5625rem
  }
  .hero__title {
    margin-bottom: 1.25rem
  }
  .hero__text {
    margin-bottom: 1.875rem
  }
  .history {
    padding-block: 3.125rem
  }
  .projects {
    padding-top: 3.125rem
  }
  .projects {
    padding-bottom: 3.125rem
  }
  .projects__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .article-project:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .article-project__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .growth {
    padding-top: 3.125rem
  }
  .growth {
    padding-bottom: 3.125rem
  }
  .team {
    padding-top: 3.125rem
  }
  .team {
    padding-bottom: 3.125rem
  }
  .team__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .faq {
    padding-top: 2.1875rem
  }
  .faq {
    padding-bottom: 1.25rem
  }
  .spollers-faq__title {
    font-size: 1.25rem
  }
  .spollers-faq__body {
    font-size: 1rem
  }
  .join-us {
    padding-top: 1.25rem
  }
  .join-us {
    padding-bottom: 3.125rem
  }
  .join-us__body {
    padding-inline: .9375rem
  }
}
@media (max-width:61.99875em) {
  .scroll-to-top {
    right: 3.125rem;
    bottom: 3.125rem
  }
  .slider-history__slide {
    -webkit-transform: scale(.95)!important;
    transform: scale(.95)!important
  }
  .slider-history__content {
    max-width: 20rem;
    padding: 1.125rem;
    left: 1.4375rem;
    bottom: 1.4375rem;
    border-radius: .625rem
  }
  .controls-slider-history__arrow {
    width: 2.8125rem;
    height: 2.8125rem
  }
  .controls-slider-history__arrow_next::before,
  .controls-slider-history__arrow_prev::before {
    width: 2.1875rem;
    height: 2.1875rem
  }
  .controls-slider-history__arrow_prev {
    margin-left: .4375rem
  }
  .controls-slider-history__arrow_next {
    margin-right: .4375rem
  }
  .team__items {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:61.99875em)and (max-width:48em) {
  .controls-slider-history__arrow_prev {
    margin-left: -.75rem
  }
  .controls-slider-history__arrow_next {
    margin-right: -.8125rem
  }
}
@media (max-width:47.99875em) {
  .button {
    padding: .9375rem 2.5rem
  }
  .scroll-to-top {
    right: 2.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: top .4s,bottom .4s,background .8s,-webkit-transform .4s;
    transition: top .4s,bottom .4s,transform .4s,background .8s;
    transition: top .4s,bottom .4s,transform .4s,background .8s,-webkit-transform .4s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background: #fff
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background: #31385f
  }
  ._header-scroll .icon-menu span,
  ._header-scroll .icon-menu::after,
  ._header-scroll .icon-menu::before {
    background: #31385f
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .popup__content {
    padding: 1.875rem 1.5625rem;
    border-radius: .9375rem
  }
  .logo {
    width: 4.4375rem;
    height: 5rem
  }
  ._header-scroll .logo {
    width: 3.3125rem;
    height: 3.75rem
  }
  .text {
    text-align: justify
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    padding: 8.125rem .9375rem 3.125rem .9375rem;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .5s;
    flex-direction: column;
    row-gap: 1.875rem;
    border-radius: 0;
    align-items: end
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 6.25rem;
    left: -100%;
    top: 0;
    transition: all .5s;
    z-index: 5;
    background: #f0eeeb
  }
  ._header-scroll .menu__body::before {
    height: 4.375rem
  }
  ._header-scroll .menu__body {
    padding-top: 6.875rem
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: end;
    row-gap: .9375rem;
    flex: 1 1 auto
  }
  .menu__list:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .menu__list {
    row-gap: .625rem
  }
  .menu__button {
    padding: .375rem .5rem;
    font-size: 1.5rem;
    color: #31385f;
    font-weight: 500;
    text-align: right
  }
  .footer__main {
    padding-block: 2.5rem
  }
  .footer__bottom {
    padding-block: 2.5rem
  }
  .social-footer__label {
    font-size: 1.375rem
  }
  .social-footer__item {
    padding: .4375rem
  }
  .social-footer__item img {
    width: 2rem;
    height: 2rem
  }
  .social-footer__item--x {
    padding: .5rem
  }
  .history__header {
    margin-bottom: 2.5rem
  }
  .slider-history {
    margin: 0 -.9375rem
  }
  .slider-history__body {
    width: 100%
  }
  .slider-history__content {
    padding: .9375rem;
    max-width: 100%
  }
  .controls-slider-history__dotts {
    margin-top: .625rem
  }
  .controls-slider-history__arrows {
    display: none
  }
  .projects__container {
    text-align: center
  }
  .article-project--02 .article-project__content {
    order: 1
  }
  .article-project--02 .article-project__image {
    order: 2
  }
  .article-project {
    grid-template-columns: auto
  }
  .growth__container {
    gap: 2.5rem
  }
  .faq__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .spollers-faq__body {
    padding-right: 0
  }
  .join-us__body {
    flex-direction: column;
    gap: 2.1875rem;
    padding-block: 2.5rem;
    text-align: center
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em)and (max-width:47.99875em) {
  .social-footer__item--x img {
    width: 1.875rem;
    height: 1.875rem
  }
}
@media (max-width:34.37375em) {
  .main-footer {
    grid-template-columns: auto;
    text-align: center
  }
}
@media (max-width:34.375em) {
  .hero__text {
    text-align: justify
  }
  .hero__button {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .button {
    width: 100%
  }
  .scroll-to-top span {
    padding-top: .125rem
  }
  .scroll-to-top {
    right: 1.5625rem
  }
  .popup__content {
    padding: 1.875rem .9375rem;
    border-radius: .625rem
  }
  .main-footer__logo:not(:last-child) {
    margin-bottom: .9375rem
  }
  .hero__title span {
    font-size: 1.75rem
  }
  .hero__buttons {
    gap: .9375rem
  }
  .growth__video {
    width: auto;
    margin: 0 -.9375rem
  }
  .team__items {
    grid-template-columns: auto;
    row-gap: 2.5rem
  }
  .faq__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .spollers-faq__title::after {
    width: 2.1875rem;
    height: 2.1875rem
  }
  .spollers-faq__title {
    padding-block: 1.25rem
  }
  .join-us__body {
    gap: 1.875rem;
    border-radius: .9375rem
  }
}
@media (max-width:23.43625em) {
  .team__item {
    margin: 0 -.9375rem
  }
  .item-team__info {
    flex-direction: column;
    text-align: center;
    gap: .75rem
  }
  .item-team__about {
    display: flex;
    align-items: center;
    gap: 1rem
  }
  .item-team__name::after {
    content: "";
    position: absolute;
    width: .125rem;
    height: 90%;
    top: .0625rem;
    left: calc(100% + .46875rem);
    background: #fff
  }
  .item-team__socials {
    gap: 1.25rem
  }
}
@media (min-width:20em)and (max-width:70.625em) {
  body {
    font-size: clamp(1rem ,.950617284rem + .2469135802vw ,1.125rem)
  }
  .popup__title {
    font-size: clamp(1.625rem ,1.4274691358rem + .987654321vw ,2.125rem)
  }
  .popup__title:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.6905864198rem + 1.2345679012vw ,1.5625rem)
  }
  .title {
    font-size: clamp(1.75rem ,1.4537037037rem + 1.4814814815vw ,2.5rem)
  }
  .title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.8796296296rem + 1.8518518519vw ,2.1875rem)
  }
  .title--smaller {
    font-size: clamp(1.625rem ,1.3780864198rem + 1.2345679012vw ,2.25rem)
  }
  .title--smaller:not(:last-child) {
    margin-bottom: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .text:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,1.3155864198rem + 1.2345679012vw ,2.1875rem)
  }
  .hero__title {
    font-size: clamp(1.5625rem ,1.0933641975rem + 2.3456790123vw ,2.75rem)
  }
  .hero__title {
    margin-bottom: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .hero__text {
    margin-bottom: clamp(1.875rem ,1.3811728395rem + 2.4691358025vw ,3.125rem)
  }
  .history {
    padding-block: clamp(3.125rem ,2.137345679rem + 4.9382716049vw ,5.625rem)
  }
  .projects {
    padding-top: clamp(3.125rem ,2.137345679rem + 4.9382716049vw ,5.625rem)
  }
  .projects {
    padding-bottom: clamp(3.125rem ,1.8904320988rem + 6.1728395062vw ,6.25rem)
  }
  .projects__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,.887345679rem + 4.9382716049vw ,4.375rem)
  }
  .article-project:not(:last-child) {
    margin-bottom: clamp(3.75rem ,1.774691358rem + 9.8765432099vw ,8.75rem)
  }
  .article-project__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,1.0030864198rem + 1.2345679012vw ,1.875rem)
  }
  .growth {
    padding-top: clamp(3.125rem ,2.137345679rem + 4.9382716049vw ,5.625rem)
  }
  .growth {
    padding-bottom: clamp(3.125rem ,1.8904320988rem + 6.1728395062vw ,6.25rem)
  }
  .team {
    padding-top: clamp(3.125rem ,2.137345679rem + 4.9382716049vw ,5.625rem)
  }
  .team {
    padding-bottom: clamp(3.125rem ,1.8904320988rem + 6.1728395062vw ,6.25rem)
  }
  .team__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.3811728395rem + 2.4691358025vw ,3.125rem)
  }
  .faq {
    padding-top: clamp(2.1875rem ,1.0763888889rem + 5.5555555556vw ,5rem)
  }
  .faq {
    padding-bottom: clamp(1.25rem ,.262345679rem + 4.9382716049vw ,3.75rem)
  }
  .spollers-faq__title {
    font-size: clamp(1.25rem ,1.1512345679rem + .4938271605vw ,1.5rem)
  }
  .spollers-faq__body {
    font-size: clamp(1rem ,.950617284rem + .2469135802vw ,1.125rem)
  }
  .join-us {
    padding-top: clamp(1.25rem ,.0154320988rem + 6.1728395062vw ,4.375rem)
  }
  .join-us {
    padding-bottom: clamp(3.125rem ,1.8904320988rem + 6.1728395062vw ,6.25rem)
  }
  .join-us__body {
    padding-inline: clamp(.9375rem ,.0733024691rem + 4.3209876543vw ,3.125rem)
  }
}
@media (min-width:47.99875em)and (max-width:61.25em) {
  .header__container {
    margin: 0 .9375rem
  }
}
@media (min-width:48em)and (max-width:62em) {
  .slider-history__body {
    width: clamp(39.5625rem ,3.7767857143rem + 74.5535714286vw ,50rem)
  }
  .slider-history__body {
    margin-right: clamp(3.25rem ,-2.75rem + 12.5vw ,5rem)
  }
  .slider-history__title {
    font-size: clamp(1.375rem ,.9464285714rem + .8928571429vw ,1.5rem)
  }
  .slider-history__text {
    font-size: clamp(1rem ,.5714285714rem + .8928571429vw ,1.125rem)
  }
}
@media (max-width:61.99875em)and (min-width:62em) {
  .controls-slider-history__arrow_prev {
    margin-left: .5625rem
  }
  .controls-slider-history__arrow_next {
    margin-right: .4375rem
  }
}
@media (max-width:61.99875em)and (min-width:48em)and (max-width:62em) {
  .controls-slider-history__arrow_prev {
    margin-left: clamp(-.75rem ,-5.25rem + 9.375vw ,.5625rem)
  }
  .controls-slider-history__arrow_next {
    margin-right: clamp(-.8125rem ,-5.0982142857rem + 8.9285714286vw ,.4375rem)
  }
}
@media (min-width:48em)and (max-width:70.625em) {
  .article-project {
    -webkit-column-gap: clamp(1.875rem ,-2.1029005525rem + 8.2872928177vw ,3.75rem);
    -moz-column-gap: clamp(1.875rem ,-2.1029005525rem + 8.2872928177vw ,3.75rem);
    column-gap: clamp(1.875rem ,-2.1029005525rem + 8.2872928177vw ,3.75rem)
  }
}